body
{
	color:#202020;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
body.index
{
	background-color:#202020;
}
div.container
{
	background-color: #ffffff;
	margin-top: 40px;
	margin-bottom: 40px;
}
div.title
{
	background-color: #ef1e4f;
	color:#ffffff;
	text-align: center;
	margin-bottom: 2rem;
}
div.footer
{
	background-color: #202020;
}
span
{
	margin-right: 10px;
}
span.red_suit
{
	color:#e12424;

}
ul
{
	margin-left: 70px;
}
img
{
	image-rendering: -moz-crisp-edges;         /* Firefox */
	image-rendering:   -o-crisp-edges;         /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
img.title
{
	max-width: 100%;
}
img.game
{
	max-width: 97%;
	margin-left:1.5%;
	margin-right:1.5%;
}
div.game
{
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	padding-bottom: 0px;
	color: #ffffff;
	margin-bottom: 10px;
}
div.game:hover
{
	background-color: #ef1e4f;
}
p
{
	margin-left: 1em;
	margin-right: 1em;
}
p.name
{
	margin: 0px;
}
a
{
	color: #ef1e4f;
	text-decoration: none;
}
a:hover
{
	color: #ffac36;
}
div.lastrow
{
	margin-top: 20px;
	margin-bottom: 0px;
}
h1
{
    margin-top: 16px;
}
div.row
{
	margin-bottom: 0px;
}
th.margin
{
	padding-top:50px;
}
table
{
	padding-left:50px;
}
